# **Co-Relation**

## Relation between columns in a DataFrame

### Positive co-related 
if there is a increase in a variable and due to which there is a corresponding increase in another variable then they are positively co related. positive 1 show perfect positive co-relation

### Negative co-related
if we decrease a variable and corresponding to this there is a decrease in another variable then they are negatively co-related. -1 show perfect negative co-relation

### else 
co-relation = 0

In [9]:
import pandas as pd
df = pd.DataFrame({"Name":['John', 'Joe', "Davis", "Robert"], "Age":[15, 14, 12, 16], "Height":[163, 164, 166, 162], "Weight":[59, 56, 50, 62]})
df.corr(numeric_only=True)

        Age  Height  Weight
Age     1.0    -1.0     1.0
Height -1.0     1.0    -1.0
Weight  1.0    -1.0     1.0

# **Co-Variance**

It gives the mean change in columns due to change in a different column

In [11]:
df.cov(numeric_only=True)

             Age    Height  Weight
Age     2.916667 -2.916667    8.75
Height -2.916667  2.916667   -8.75
Weight  8.750000 -8.750000   26.25