# CSV V/S XLS (excel) File Formats:
1. CSV format is a plain text format in which values are separated by commas (Comma Separated Values).
2. XLS file format is an Excel sheets binary file format which holds information about all the worksheets in a file, including both content and formatting.

In [1]:
import pandas as pd
var = pd.DataFrame({"A":[1, 2, 3, 4], "B":[5, 6, 7, 8]})
var

   A  B
0  1  5
1  2  6
2  3  7
3  4  8

# Write in CSV

In [6]:
# var.to_csv("Test_new.csv", index=False) # (FileName.csv)
var.to_csv("Test_new1.csv", index=False, header=[1, 2]) # change the column header

   A  B
0  1  5
1  2  6
2  3  7
3  4  8

# Read CSV File
> A Simple way to store big data sets is to use CSV files (comma separated files).
> CSV files contains plain text and is a well know format that can be read by everyone including Pandas.

In [2]:
varcsv = pd.read_csv("C:\\Users\\VIDYA CHARAN\\Python New Tut\\Pandas\\Test_new.csv")
varcsv

   A  B
0  1  5
1  2  6
2  3  7
3  4  8

In [14]:
# varcsv1 = pd.read_csv("C:\\Users\\VIDYA CHARAN\\Python New Tut\\Pandas\\Test_new.csv", nrows=3) # This will give 3 no of rows
# varcsv1 = pd.read_csv("C:\\Users\\VIDYA CHARAN\\Python New Tut\\Pandas\\Test_new.csv", usecols=["A", "B"]) # This will give the A and B column
varcsv1 = pd.read_csv("C:\\Users\\VIDYA CHARAN\\Python New Tut\\Pandas\\Test_new.csv", usecols=[0, 1]) # This will give the column at index 0 and 1
varcsv1

   A  B
0  1  5
1  2  6
2  3  7
3  4  8

In [15]:
varcsv2 = pd.read_csv("C:\\Users\\VIDYA CHARAN\\Python New Tut\\Pandas\\Test_new.csv", usecols=[0, 1], skiprows=[1]) # This will skip the first row
varcsv2

   A  B
0  2  6
1  3  7
2  4  8

In [21]:
varcsv3 = pd.read_csv("C:\\Users\\VIDYA CHARAN\\Python New Tut\\Pandas\\Test_new.csv", index_col="A") # This will make the column A as index
print(varcsv3)
print()
print(varcsv3["B"][1])

   B
A
1  5
2  6
3  7
4  8

5

In [3]:
varcsv3 = pd.read_csv("C:\\Users\\VIDYA CHARAN\\Python New Tut\\Pandas\\Test_new.csv", header= 1) # This will make the first row as header
varcsv3

   1  5
0  2  6
1  3  7
2  4  8

In [4]:
varcsv4 = pd.read_csv("C:\\Users\\VIDYA CHARAN\\Python New Tut\\Pandas\\Test_new.csv", names=["col1", "col2"]) # This will give column name
varcsv4

  col1 col2
0    A    B
1    1    5
2    2    6
3    3    7
4    4    8

In [6]:
varcsv5 = pd.read_csv("C:\\Users\\VIDYA CHARAN\\Python New Tut\\Pandas\\Test_new.csv", ) # This will delete the previous header and make col as new header as prefix and column no. after prefix
varcsv5

TypeError: read_csv() got an unexpected keyword argument 'prefix'

In [7]:
varcsv6 = pd.read_csv("C:\\Users\\VIDYA CHARAN\\Python New Tut\\Pandas\\Test_new.csv",dtype={"A":float}) # This will change the datatype of column A to float
varcsv6

     A  B
0  1.0  5
1  2.0  6
2  3.0  7
3  4.0  8