# What is dataFrame ?
It Stores data in 2D Format like a excel sheet

In [1]:
import pandas as pd
l = [1,2,3,4,5,6]
var = pd.DataFrame(l)
print(var)

   0
0  1
1  2
2  3
3  4
4  5
5  6

In [4]:
# Using dictionary
d = {"A":[1, 2, 3, 4, 5], "B":[6, 7, 8, 9, 10]} # Both should be of same length
var1 = pd.DataFrame(d, columns=["A"]) # This will only take column A index can be changed same as series
df = pd.DataFrame(d)
print(var1["A"][2])

3

In [5]:
# How to exclude one or two columns from a dataframe
excluded_df = df.drop("A", axis=1)  # axis = 1 for column wise operation
excluded_df

    B
0   6
1   7
2   8
3   9
4  10