# Insert

In [1]:
import pandas as pd
var = pd.DataFrame({"A":[1, 2, 3 ,4], "B":[5, 6, 7, 8]})
var

   A  B
0  1  5
1  2  6
2  3  7
3  4  8

In [2]:
var.insert(1, "P", var["A"]) # (index, column name, value)
var

   A  P  B
0  1  1  5
1  2  2  6
2  3  3  7
3  4  4  8

In [3]:
var["ps"] = var["A"][:3] # This will only copy upto 3 index of A into ps
print(var)

   A  P  B   ps
0  1  1  5  1.0
1  2  2  6  2.0
2  3  3  7  3.0
3  4  4  8  NaN

# Delete

In [4]:
var1 = var.pop("ps") # this will remove ps and return it to this variable
print(var1)
print(var)

0    1.0
1    2.0
2    3.0
3    NaN
Name: ps, dtype: float64
   A  P  B
0  1  1  5
1  2  2  6
2  3  3  7
3  4  4  8

In [5]:
del var["P"] # This will delete column P from var
print(var)

   A  B
0  1  5
1  2  6
2  3  7
3  4  8