# Pandas Functions

In [9]:
import pandas as pd
import numpy as np
csv_1 = pd.read_csv("Test_new.csv")
csv_1

   A  B
0  1  5
1  2  6
2  3  7
3  4  8

In [7]:
# Index
csv_1.index

RangeIndex(start=0, stop=4, step=1)

In [4]:
# get column names
csv_1.columns

Index(['A', 'B'], dtype='object')

In [8]:
# This will give every detail of csv
csv_1.describe()

4.0

In [ ]:
# give first data
csv_1.head(2) # This will give data of first two rows
csv_1.tail(2) # This will give last two datas

In [13]:
# get index and data in an list or numpy array
print(csv_1.index.array) # This will make a list of csv file indices

# print(csv_1.to_numpy) # This will make numpy array of all values in csv
# or
v = np.asarray(csv_1)
print(v)

<NumpyExtensionArray>
[0, 1, 2, 3]
Length: 4, dtype: int64
[[1 5]
 [2 6]
 [3 7]
 [4 8]]

In [14]:
# make dataframe in in decending order
csv_1.sort_index(axis=0, ascending=False)

   A  B
3  4  8
2  3  7
1  2  6
0  1  5

In [22]:
# Change value
# csv_1.loc[0, ["A"]] = "a" # [row, column]
# "OR"
csv_1.loc[0, 1] = "a" # [row index, column index]

In [19]:
# Get Values
csv_1.loc[[2,3], ["A", "B"]] # [[rows], [colums]]
csv_1.loc[[2,3], :] # This will give every column data on row 2 and 3

   A  B
2  3  7
3  4  8

In [24]:
# Delete value or row or column
csv_1.drop("A", axis=1) # (column name or index, axis)

   B    1
0  5    a
1  6  NaN
2  7  NaN
3  8  NaN

In [11]:
# find null values in dataset
csv_1.isnull().sum()

A    0
B    0
dtype: int64