# Join

In [2]:
import pandas as pd
import numpy as np
var1 = pd.DataFrame({"A":[1, 2, 3, 4, 5] ,"B":[6, 7, 8, 9, 10]})
var2 = pd.DataFrame({"A":[11,12,13,14], "B":[26, 27,28,29]})

In [21]:
# var1.join(var2) # if there is less data in var2 then it gets replaced with NaN when join function is used by var1
# var2.join(var1) # But if join function is used by var2 then it only joins if there is value in var2
# var2.join(var1, how='left') # works according to the left value
# var2.join(var1, how='outer') # Union and if inner is used it is intersection

var2.join(var1, lsuffix="s") # If the column name are same then the left one names will be added with a suffix

   As  Bs  A  B
0  11  26  1  6
1  12  27  2  7
2  13  28  3  8
3  14  29  4  9

# Append (Deprecated)

In [22]:
# It will not Throw an error if we get same name value and it will add at the end

AttributeError: 'DataFrame' object has no attribute 'append'

In [6]:
df1 = pd.DataFrame(np.arange(9).reshape(3, 3), index=['an', 'tn', 'ker'], columns=['a', 'c', 'd'])
df2 = pd.DataFrame(np.arange(16).reshape(4, 4), index=['kar', 'an', 'tn', 'ker'], columns=['a', 'b', 'd', 'e'])
print(df1+df2) # join common values only and leave the rest

        a   b   c     d   e
an    4.0 NaN NaN   8.0 NaN
kar   NaN NaN NaN   NaN NaN
ker  18.0 NaN NaN  22.0 NaN
tn   11.0 NaN NaN  15.0 NaN