# Merge

In [2]:
import pandas as pd
var1 = pd.DataFrame({"A":[1, 2, 3, 4, 5] ,"B":[6, 7, 8, 9, 10]})
var2 = pd.DataFrame({"A":[1,2,3, 4 , 5], "B":[26, 27,28,29,30]})
var3 = pd.DataFrame({"A":[1,2,3,4], "C":[26, 27,28,29]})

In [22]:
# pd.merge(var1, var2, on="A") # Here A is the common part so it will only take it one time if we give var2 first then C will come before B because it will be the first one to be passed
# pd.merge(var1, var3) # if we not have a id or part totally common it will only merge the rows or columns having common elements
# pd.merge(var1, var3, how='left') # it will take the value of left one if there is no common value and make the right one NaN
# pd.merge(var1, var3, how='right') # it will take the value of right one if there is no common value and make the left one NaN
# pd.merge(var1, var3, how='outer') # it will show all the data including the uncommon ones and make the missing values as NaN

# pd.merge(var1, var3,'outer', indicator=True) # It will show which one has the value

# pd.merge(var1, var2, right_index=True, left_index=True) # This make two different column values for var1 A and var2 A and var1 b and var2 b by default it names them A_x and A_y
pd.merge(var1, var2, right_index=True, left_index=True, suffixes=["name", "id"]) # it will make the var1 column names as {column Name} name and var2 column names as {column Name} id

   Aname  Bname  Aid  Bid
0      1      6    1   26
1      2      7    2   27
2      3      8    3   28
3      4      9    4   29
4      5     10    5   30

# Concat

In [24]:
sr1 = pd.Series([1, 2, 3, 4])
sr2 = pd.Series([5, 6, 7, 8])

In [26]:
# Series Concatination
pd.concat([sr1, sr2])

0    1
1    2
2    3
3    4
0    5
1    6
2    7
3    8
dtype: int64

In [3]:
# DataFrame Concatenation
# pd.concat([var1, var2]) # it will not take common it directly combines them by default it combines wrt row
# pd.concat([var1, var2], axis=1)  # it will combnine wrt column and if a data is not present it will fill it with NaN
# pd.concat([var1, var3], axis=1, join='inner')  # inner means intersection and it will only show if the values are not NaN same outer is form union
# pd.concat([var1, var2],keys=["d1", "d2"]) # it will name the different datasets
pd.concat([var1, var2["B"]], axis=1) # You can concatinate 1D df with 2D df

   A   B   B
0  1   6  26
1  2   7  27
2  3   8  28
3  4   9  29
4  5  10  30