In [6]:
import pandas as pd
import numpy as np

var = pd.DataFrame({"BookId":['isbn2022', 'isbn2023'],
                    "Author":[('ross', 'mark'),
                              ('Bracket', 'Barbara')],
                    "Genre":["Computer", "Computer"],
                    "price":[23.56, 35.59],
                    "PublishDate":['2014-22-01', '2014-12-16']})

var.to_xml('test1.xml', index=False)

In [7]:
var2 = pd.read_xml('test1.xml')
var2

     BookId                  Author     Genre  price PublishDate
0  isbn2022        ('ross', 'mark')  Computer  23.56  2014-22-01
1  isbn2023  ('Bracket', 'Barbara')  Computer  35.59  2014-12-16

In [8]:
from lxml import objectify
xml = objectify.parse('test1.xml')
root = xml.getroot()